@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #151515;
}

h1 {
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  line-height: 4rem;
}

h2 {
  font-family: "SF Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  line-height: 1.5rem;
}

h3 {
  font-family: "SF Pro", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  line-height: 2.7rem;
}

h4 {
  font-family: "SF Pro", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

h6 {
  font-family: "SF Pro", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}

#blue {
  color: #4b7bff;
}

p {
  font-family: "SF Pro", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: white;
}

a {
  transition: ease-in-out 0.3s;
}

a:hover,
a:focus {
  cursor: pointer;
  color: #4b7bff;
  transition: ease-in-out 0.3s;
}

img {
  width: fit-content;
  height: 100%;
  object-fit: cover;
}

button {
  /* border-radius: 999px;
  padding: 0.7rem 1.4rem;
  color: white;
  background: #2d72ed;
  transition: ease-in-out 0.3s;
  width: fit-content; */
}
/* 
button:hover,
button:active {
  background: #0933ff;
  transition: ease-in-out 0.3s;
  cursor: pointer;
} */

@media (max-width: 1030px) {
  h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 0.875rem;
  }

  button {
    padding: 0.5rem 1rem;
  }
}
